.dashboard-btn {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.15s;
    cursor: pointer;
  }
  
  .dashboard-btn {
    color: #DDDDDD;
    border-color: #DDDDDD;
  }
  
  .dashboard-btn {
    color: #BBBBBB;
    border-color: #BBBBBB;
  }

  .dashboard-div {
      margin-top: 100px;
      margin-left: 100px;
  }
  
  @media all and (max-width:30em) {
    .dashboard-btn {
      display: block;
      margin: 0.4em auto;
    }
  }